[buildout]
parts =
    zope2
    instance
    plone
    PILwoTK
    test
    zopepy

develop =
    .

find-links =
    http://download.zope.org/distribution/
    http://effbot.org/downloads

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}
fake-zope-eggs = true
# requiring zope.testing for z2testrunner
# requiring zope.component for zope.i18n >= 3.4 which is needed for z3c.form
skip-fake-eggs =
    zope.component
    zope.i18n
    zope.testing

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
verbose-security = on
debug-mode = on
products = ${buildout:directory}/parts/plone
eggs =
    ${plone:eggs}
    PILwoTK
    zope.testing
    plone.app.z3cform
    Products.PDBDebugMode
zcml =
    plone.app.z3cform

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[test]
recipe = collective.recipe.z2testrunner
zope2part = instance
packages =
    plone.app.z3cform
extra-paths = ${buildout:directory}
exit-with-status = true

[plone]
recipe = plone.recipe.plone

[PILwoTK]
recipe = zc.recipe.egg
find-links = http://download.zope.org/distribution/
