#
# IMPORTANT
#
# Include the right versions by extending your buildout:
# extends =
# http://svn.plone.org/svn/plone/plone.app.z3cform/trunk/versions-plone33.cfg
#
# Some eggs should be skipped in zope2install.
# Do it with :
# skip-fake-eggs += {plone-app-z3cform:skip-fake-eggs}
[plone-app-z3cform]
skip-fake-eggs =
    zope.component
    zope.i18n
    zope.testing
    zope.schema

[versions]
Plone = 3.3.1
# zope.component <3.6 for five.localsitemanager 1.1
zope.component = 3.5.1
# zope.schema >=3.4 for z3c.form 2.1
zope.schema = 3.4.0
# zope.i18n >= 3.4 for plone.z3cform since 0.5.2 at least
zope.i18n = 3.4
